.sidenav {
    background-color: rgb(179, 172, 172);
    width: 200px;
}

.sidenav a {
    color: black;
}

.sidenav i {
    padding-right: 10px; 
}

.content {
  padding: 16px;
  background-color: white;
  color: black;
}